<div class="navbar">
  <div class="container">
    <center id="welcome" class="lead"></center>
    <ul layout=column layout-align="space-between center" ng-controller="MenuController as mc">
      
        <a href="#/monday" ng-click="mc.mondayMenu()">Monday</a>

        <a href="#/tuesday" ng-click="mc.tuesdayMenu()">Tuesday</a>

        <a href="#/wednesday" ng-click="mc.wednesdayMenu()">Wednesday</a>

        <a href="#/thursday" ng-click="mc.thursdayMenu()">Thursday</a>

        <a href="#/friday" ng-click="mc.fridayMenu()">Friday</a>

    </ul>
  </div>
</div>