<div class="navbar">
  <div class="container">
            <h3>Foodsby Challange</h3>

    <center id="welcome" class="lead"><h1>Select Day</h1></center>

    <div layout=row layout-align="space-between center" ng-controller="MenuController as mc">

      <md-button class="md-raised md-primary" href="#/monday" ng-click="mc.mondayMenu()">Monday</md-button>

      <md-button class="md-raised md-primary" href="#/tuesday" ng-click="mc.tuesdayMenu()">Tuesday</md-button>

      <md-button class="md-raised md-primary" href="#/wednesday" ng-click="mc.wednesdayMenu()">Wednesday</md-button>

      <md-button class="md-raised md-primary" href="#/thursday" ng-click="mc.thursdayMenu()">Thursday</md-button>

      <md-button class="md-raised md-primary" href="#/friday" ng-click="mc.fridayMenu()">Friday</md-button>
      </div>
  </div>
</div>