<div class="container" layout=column layout-align="center center">
    <div class=navbar>
        <center>Foodsby Challange</center>
        <div ng-include="'views/partials/nav.html'"></div>
    </div>
    <div>
        Friday Items
        <div ng-repeat="items in mc.fridayItems.data.data">

            <ul>
                <li>{{mc.fridayItems}}</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>




        </div>

    </div>
</div>