<div class="container" layout=column layout-align="center center">
    <div class=navbar>
        <center>Foodsby Challange</center>
        <div ng-include="'views/partials/nav.html'"></div>
    </div>
    <div>
        Monday Items
        <div ng-repeat="items in mc.mondayItems.data.data">
        
            <ul>
                <li>{{mc.mondayItems}}</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>




        </div>
        
    </div>
</div>