<div class="container" layout=column layout-align="center center">
    <div class=navbar>
        <center>Foodsby Challange</center>
        <div ng-include="'views/partials/nav.html'"></div>
    </div>
    <div>
        Tuesday Items
        <div ng-repeat="items in mc.tuesdayItems.data.data">
        
            <ul>
                <li>{{mc.tuesdayItems}}</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    </div>
</div>